@import url(./reset.scss);
@import url(./fonts.scss);
@import url(../../pages/index/style/index.scss);

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1325px;
}

body {
    background: #F1F1F1;
}
